.show-pagination {
    display: flex;
    justify-content: space-evenly;
}

.pagination-num {
    cursor: pointer;
}

.active-page {
    color: deeppink;
}

.card th button {
    color: white;
}

.card th {
    cursor: pointer;
}