{% extends "index.html" %}
{% block title %}Shows{% endblock %}
{% block content %}
    <h1 class="title text-center">Shows</h1>
    <div class="card">
        <table>
            <thead>
                <tr>
                    <td>Title</td>
                    <td>Year</td>
                    <td>Runtime (min)</td>
                    <td>Rating</td>
                    <td>Genres</td>
                    <td>Trailer</td>
                    <td>Homepage</td>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <div class="card show-pagination"></div>
    </div>
{% endblock %}